<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="IGNITEConnection"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ignite--DB;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />

    <authentication mode="Forms">
      <forms loginUrl="~/auth-onboarding/Login.aspx" timeout="2880" defaultUrl="~/Student/Dashboard.aspx" name=".IGNITEAUTH" />
    </authentication>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Student/Dashboard.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
